# Learning PANDAS

In [ ]:
# pip install numpy
#pip install pandas

## import libraries

In [ ]:
import pandas as pd
import numpy as np

# object creation

In [ ]:
o = pd.array([2,4,6,8,10,12])
o

In [ ]:
s = pd.Series([1,3,5,7,np.nan, 9,11]) # insert an empty cell
s

In [ ]:
dates = pd.date_range("20220801", periods=20)

dates

In [ ]:
df = pd.DataFrame(np.random.randn(20, 4), index=dates, columns=list("ABCD"))
df

In [ ]:
df.head

In [ ]:
df.head(5)

In [ ]:
df.tail(5)

In [ ]:
df.to_numpy()

In [ ]:
df.describe()

## Transpoe data

In [ ]:
df.T

In [ ]:
df.T

In [ ]:
# sorting data

df.sort_index(axis=0, ascending=False)

### data selection/filtration

In [25]:
df["B"]

2022-08-01   -0.150984
2022-08-02   -1.472443
2022-08-03    0.525117
2022-08-04   -0.163620
2022-08-05    2.139046
2022-08-06    0.737466
2022-08-07    1.801944
2022-08-08    0.968877
2022-08-09    1.130274
2022-08-10    1.058925
2022-08-11    0.649334
2022-08-12    0.102743
2022-08-13   -0.523231
2022-08-14    1.292403
2022-08-15    0.309894
2022-08-16    2.362397
2022-08-17   -0.457971
2022-08-18    0.630327
2022-08-19   -0.705516
2022-08-20   -0.301178
Freq: D, Name: B, dtype: float64

In [27]:
df.index

DatetimeIndex(['2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04',
               '2022-08-05', '2022-08-06', '2022-08-07', '2022-08-08',
               '2022-08-09', '2022-08-10', '2022-08-11', '2022-08-12',
               '2022-08-13', '2022-08-14', '2022-08-15', '2022-08-16',
               '2022-08-17', '2022-08-18', '2022-08-19', '2022-08-20'],
              dtype='datetime64[ns]', freq='D')

## viewing data via index

In [28]:
df[0:3]

                   A         B         C         D
2022-08-01 -0.337864 -0.150984 -0.599256 -2.123904
2022-08-02  0.224855 -1.472443 -1.187823  0.978219
2022-08-03 -1.279865  0.525117  0.891137 -0.776408

In [29]:
df[0:10]

                   A         B         C         D
2022-08-01 -0.337864 -0.150984 -0.599256 -2.123904
2022-08-02  0.224855 -1.472443 -1.187823  0.978219
2022-08-03 -1.279865  0.525117  0.891137 -0.776408
2022-08-04 -0.378545 -0.163620  0.454364  1.434956
2022-08-05  1.056874  2.139046  0.898028  0.812785
2022-08-06  1.083703  0.737466 -0.196923  0.711939
2022-08-07  1.497660  1.801944  0.459568 -2.760642
2022-08-08 -1.155512  0.968877  2.457472  0.629952
2022-08-09 -0.210044  1.130274  0.709853 -1.419183
2022-08-10 -0.746112  1.058925  0.123247 -0.829764

In [30]:
df[5:15]

                   A         B         C         D
2022-08-06  1.083703  0.737466 -0.196923  0.711939
2022-08-07  1.497660  1.801944  0.459568 -2.760642
2022-08-08 -1.155512  0.968877  2.457472  0.629952
2022-08-09 -0.210044  1.130274  0.709853 -1.419183
2022-08-10 -0.746112  1.058925  0.123247 -0.829764
2022-08-11  0.597180  0.649334  1.314634 -0.589478
2022-08-12  1.640064  0.102743 -0.227373 -0.276362
2022-08-13 -1.625404 -0.523231 -0.321394  0.124847
2022-08-14 -0.507618  1.292403  0.057855 -0.251063
2022-08-15 -0.391224  0.309894  1.473521  0.491435

In [33]:
df.loc[dates[2]]

A   -1.279865
B    0.525117
C    0.891137
D   -0.776408
Name: 2022-08-03 00:00:00, dtype: float64

In [36]:
df.loc[:, ["A", "B", "C"]]

                   A         B         C
2022-08-01 -0.337864 -0.150984 -0.599256
2022-08-02  0.224855 -1.472443 -1.187823
2022-08-03 -1.279865  0.525117  0.891137
2022-08-04 -0.378545 -0.163620  0.454364
2022-08-05  1.056874  2.139046  0.898028
2022-08-06  1.083703  0.737466 -0.196923
2022-08-07  1.497660  1.801944  0.459568
2022-08-08 -1.155512  0.968877  2.457472
2022-08-09 -0.210044  1.130274  0.709853
2022-08-10 -0.746112  1.058925  0.123247
2022-08-11  0.597180  0.649334  1.314634
2022-08-12  1.640064  0.102743 -0.227373
2022-08-13 -1.625404 -0.523231 -0.321394
2022-08-14 -0.507618  1.292403  0.057855
2022-08-15 -0.391224  0.309894  1.473521
2022-08-16  0.160752  2.362397  2.167875
2022-08-17  2.130180 -0.457971  0.458522
2022-08-18  0.473472  0.630327  1.512108
2022-08-19 -0.275887 -0.705516 -0.136767
2022-08-20  0.465721 -0.301178  1.003384

In [44]:
df.loc["20220812":"20220815", ["A", "C"]]

                   A         C
2022-08-12  1.640064 -0.227373
2022-08-13 -1.625404 -0.321394
2022-08-14 -0.507618  0.057855
2022-08-15 -0.391224  1.473521

In [45]:
df.iloc[0:5, 0:3]

                   A         B         C
2022-08-01 -0.337864 -0.150984 -0.599256
2022-08-02  0.224855 -1.472443 -1.187823
2022-08-03 -1.279865  0.525117  0.891137
2022-08-04 -0.378545 -0.163620  0.454364
2022-08-05  1.056874  2.139046  0.898028

In [47]:
df.iloc[:, 0:2]

                   A         B
2022-08-01 -0.337864 -0.150984
2022-08-02  0.224855 -1.472443
2022-08-03 -1.279865  0.525117
2022-08-04 -0.378545 -0.163620
2022-08-05  1.056874  2.139046
2022-08-06  1.083703  0.737466
2022-08-07  1.497660  1.801944
2022-08-08 -1.155512  0.968877
2022-08-09 -0.210044  1.130274
2022-08-10 -0.746112  1.058925
2022-08-11  0.597180  0.649334
2022-08-12  1.640064  0.102743
2022-08-13 -1.625404 -0.523231
2022-08-14 -0.507618  1.292403
2022-08-15 -0.391224  0.309894
2022-08-16  0.160752  2.362397
2022-08-17  2.130180 -0.457971
2022-08-18  0.473472  0.630327
2022-08-19 -0.275887 -0.705516
2022-08-20  0.465721 -0.301178

In [48]:
df.iloc[0: , :]

                   A         B         C         D
2022-08-01 -0.337864 -0.150984 -0.599256 -2.123904
2022-08-02  0.224855 -1.472443 -1.187823  0.978219
2022-08-03 -1.279865  0.525117  0.891137 -0.776408
2022-08-04 -0.378545 -0.163620  0.454364  1.434956
2022-08-05  1.056874  2.139046  0.898028  0.812785
2022-08-06  1.083703  0.737466 -0.196923  0.711939
2022-08-07  1.497660  1.801944  0.459568 -2.760642
2022-08-08 -1.155512  0.968877  2.457472  0.629952
2022-08-09 -0.210044  1.130274  0.709853 -1.419183
2022-08-10 -0.746112  1.058925  0.123247 -0.829764
2022-08-11  0.597180  0.649334  1.314634 -0.589478
2022-08-12  1.640064  0.102743 -0.227373 -0.276362
2022-08-13 -1.625404 -0.523231 -0.321394  0.124847
2022-08-14 -0.507618  1.292403  0.057855 -0.251063
2022-08-15 -0.391224  0.309894  1.473521  0.491435
2022-08-16  0.160752  2.362397  2.167875  0.959591
2022-08-17  2.130180 -0.457971  0.458522 -2.356530
2022-08-18  0.473472  0.630327  1.512108  0.491359
2022-08-19 -0.275887 -0.705516 -0.136767  1.575441
2022-08-20  0.465721 -0.301178  1.003384  0.376661

In [51]:
df[df["A"]  > 0]

                   A         B         C         D
2022-08-02  0.224855 -1.472443 -1.187823  0.978219
2022-08-05  1.056874  2.139046  0.898028  0.812785
2022-08-06  1.083703  0.737466 -0.196923  0.711939
2022-08-07  1.497660  1.801944  0.459568 -2.760642
2022-08-11  0.597180  0.649334  1.314634 -0.589478
2022-08-12  1.640064  0.102743 -0.227373 -0.276362
2022-08-16  0.160752  2.362397  2.167875  0.959591
2022-08-17  2.130180 -0.457971  0.458522 -2.356530
2022-08-18  0.473472  0.630327  1.512108  0.491359
2022-08-20  0.465721 -0.301178  1.003384  0.376661

In [52]:
df[df["C"] > 1.5]

                   A         B         C         D
2022-08-08 -1.155512  0.968877  2.457472  0.629952
2022-08-16  0.160752  2.362397  2.167875  0.959591
2022-08-18  0.473472  0.630327  1.512108  0.491359

In [55]:
df[df > 0]

                   A         B         C         D
2022-08-01       NaN       NaN       NaN       NaN
2022-08-02  0.224855       NaN       NaN  0.978219
2022-08-03       NaN  0.525117  0.891137       NaN
2022-08-04       NaN       NaN  0.454364  1.434956
2022-08-05  1.056874  2.139046  0.898028  0.812785
2022-08-06  1.083703  0.737466       NaN  0.711939
2022-08-07  1.497660  1.801944  0.459568       NaN
2022-08-08       NaN  0.968877  2.457472  0.629952
2022-08-09       NaN  1.130274  0.709853       NaN
2022-08-10       NaN  1.058925  0.123247       NaN
2022-08-11  0.597180  0.649334  1.314634       NaN
2022-08-12  1.640064  0.102743       NaN       NaN
2022-08-13       NaN       NaN       NaN  0.124847
2022-08-14       NaN  1.292403  0.057855       NaN
2022-08-15       NaN  0.309894  1.473521  0.491435
2022-08-16  0.160752  2.362397  2.167875  0.959591
2022-08-17  2.130180       NaN  0.458522       NaN
2022-08-18  0.473472  0.630327  1.512108  0.491359
2022-08-19       NaN       NaN       NaN  1.575441
2022-08-20  0.465721       NaN  1.003384  0.376661

In [ ]:
pip install set_matplotlib_close

In [2]:
# pip install pandas

import pandas as pd
import numpy as np

# object creation

In [5]:
s= pd.Series([1,2,3,4, np.nan, 5,6,8])

In [6]:
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
6    6.0
7    8.0
dtype: float64

In [7]:
dates = pd.date_range("20220807", "20220811")

In [8]:
dates

DatetimeIndex(['2022-08-07', '2022-08-08', '2022-08-09', '2022-08-10',
               '2022-08-11'],
              dtype='datetime64[ns]', freq='D')

In [9]:
dates = pd.date_range("20220801", periods = 14)

In [10]:
dates

DatetimeIndex(['2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04',
               '2022-08-05', '2022-08-06', '2022-08-07', '2022-08-08',
               '2022-08-09', '2022-08-10', '2022-08-11', '2022-08-12',
               '2022-08-13', '2022-08-14'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(14, 4), index= dates, columns=list("ABCD"))
df

                   A         B         C         D
2022-08-01  1.510589  0.366249 -0.537467  0.159793
2022-08-02  0.766472  0.042311  0.461591 -1.842714
2022-08-03  0.939792  0.183315  0.207992 -0.900421
2022-08-04 -0.097766  1.005821 -1.498784 -0.458316
2022-08-05 -0.482605  1.494098  0.774496  0.462479
2022-08-06 -0.543511  0.079832  0.431041  1.114665
2022-08-07 -0.708619 -1.070195 -0.810750 -0.225644
2022-08-08 -0.196712 -0.704026  2.217215 -0.765592
2022-08-09  0.058018  2.025097 -0.700453 -0.751704
2022-08-10  0.802500  0.521130 -0.521595 -0.682616
2022-08-11 -0.294416 -0.005628 -0.540612 -0.634901
2022-08-12  0.004109  1.305780 -0.897434  1.241312
2022-08-13 -1.905541 -1.532573 -0.997836 -0.300082
2022-08-14  0.012402 -0.027228  0.995212  1.295457